@use "../../design-tokens/_variables.scss" as *;

.button {
    background-color: $color-background-button-primary-default;
    border: none;
    border-radius: $size-space-radius-border-button;
    color: $color-foreground-button-primary-default;
    cursor: pointer;
    font-size: $size-space-font-button-medium;
    font-weight: $weight-font-button;
    outline: none;
    padding: $size-space-padding-button-small;

    &:focus {
        box-shadow: $shadow-focus;
    }
}
