.checkbox {
    border: none;
    outline: none;
    background-color: var(--raw-color-blue-800);
    font-size: var(--raw-font-size-400);
    color: var(--raw-color-white);
    cursor: pointer;
    border-radius: var(--raw-border-radius-400);
    padding: var(--raw-spacing-75) var(--raw-spacing-400);
}
