@import "../../design-tokens/_variables.scss";

.button {
    border: none;
    outline: none;
    background-color: $raw-color-blue-800;
    font-size: $raw-font-size-400;
    color: $raw-color-white;
    cursor: pointer;
    border-radius: $raw-border-radius-400;
    padding: $raw-spacing-75 $raw-spacing-400;
}
