@use "../../design-tokens/_variables.scss" as *;

.button {
    background-color: $raw-color-blue-800;
    border: none;
    border-radius: $raw-border-radius-400;
    color: $raw-color-white;
    cursor: pointer;
    font-size: $raw-font-size-400;
    outline: none;
    padding: $raw-spacing-75 $raw-spacing-400;
}
