$raw-border-radius-100: 2px;
$raw-border-radius-200: 4px;
$raw-border-radius-300: 6px;
$raw-border-radius-400: 8px;
$raw-border-radius-500: 10px;
$raw-border-radius-circle: 50%;
$raw-border-radius-base: 4px;
$raw-border-width-0: 0px;
$raw-border-width-100: 1px;
$raw-border-width-200: 2px;
$raw-border-width-300: 3px;
$raw-border-width-400: 4px;
$raw-border-width-500: 5px;
$raw-border-width-base: 2px;
$raw-color-black: #000000;
$raw-color-white: #FFFFFF;
$raw-color-gray-100: #D9D9D9;
$raw-color-gray-200: #C6C6C6;
$raw-color-gray-300: #B3B3B3;
$raw-color-gray-400: #A0A0A0;
$raw-color-gray-500: #8C8C8C;
$raw-color-gray-600: #797979;
$raw-color-gray-700: #666666;
$raw-color-gray-800: #535353;
$raw-color-gray-900: #404040;
$raw-color-gray-drop-shadow-500: #C0C0C0;
$raw-color-red-100: #C78585;
$raw-color-red-200: #BD7070;
$raw-color-red-300: #B45C5C;
$raw-color-red-400: #AA4747;
$raw-color-red-500: #A13333;
$raw-color-red-600: #912E2E;
$raw-color-red-700: #812929;
$raw-color-red-800: #712424;
$raw-color-red-900: #611F1F;
$raw-color-orange-100: #E0AD6E;
$raw-color-orange-200: #DBA056;
$raw-color-orange-300: #D6923E;
$raw-color-orange-400: #D18526;
$raw-color-orange-500: #CC770E;
$raw-color-orange-600: #B86B0D;
$raw-color-orange-700: #A35F0B;
$raw-color-orange-800: #8F530A;
$raw-color-orange-900: #7A4708;
$raw-color-yellow-100: #FFE084;
$raw-color-yellow-200: #FFDB70;
$raw-color-yellow-300: #FFD55B;
$raw-color-yellow-400: #FFD047;
$raw-color-yellow-500: #FFCB32;
$raw-color-green-5: #ECF6EB;
$raw-color-green-10: #D9ECD6;
$raw-color-green-100: #8CC785;
$raw-color-green-200: #79BD70;
$raw-color-green-300: #66B45C;
$raw-color-green-400: #53AA47;
$raw-color-green-500: #40A133;
$raw-color-green-600: #3A912E;
$raw-color-green-700: #338129;
$raw-color-green-800: #2D7124;
$raw-color-green-900: #26611F;
$raw-color-blue-100: #85ACC7;
$raw-color-blue-200: #709EBD;
$raw-color-blue-300: #5C91B4;
$raw-color-blue-400: #4783AA;
$raw-color-blue-500: #3375A1;
$raw-color-blue-600: #2E6991;
$raw-color-blue-700: #295E81;
$raw-color-blue-800: #245271;
$raw-color-blue-900: #1F4661;
$raw-color-blue-focus: #63B6FF;
$raw-color-purple-100: #AA85C7;
$raw-color-purple-200: #9C70BD;
$raw-color-purple-300: #8D5CB4;
$raw-color-purple-400: #7F47AA;
$raw-color-purple-500: #7133A1;
$raw-color-purple-600: #662E91;
$raw-color-purple-700: #5A2981;
$raw-color-purple-800: #4F2471;
$raw-color-purple-900: #441F61;
$raw-drop-shadow-100-x: 2px;
$raw-drop-shadow-100-y: 2px;
$raw-drop-shadow-100-blur: 4px;
$raw-drop-shadow-100-spread: 0;
$raw-drop-shadow-100-color: #C0C0C0;
$raw-drop-shadow-200-x: 3px;
$raw-drop-shadow-200-y: 3px;
$raw-drop-shadow-200-blur: 6px;
$raw-drop-shadow-200-spread: 0;
$raw-drop-shadow-200-color: #C0C0C0;
$raw-drop-shadow-300-x: 4px;
$raw-drop-shadow-300-y: 4px;
$raw-drop-shadow-300-blur: 10px;
$raw-drop-shadow-300-spread: 0;
$raw-drop-shadow-300-color: #C0C0C0;
$raw-drop-shadow-400-x: 6px;
$raw-drop-shadow-400-y: 6px;
$raw-drop-shadow-400-blur: 16px;
$raw-drop-shadow-400-spread: 0;
$raw-drop-shadow-400-color: #C0C0C0;
$raw-drop-shadow-500-value-x: 6px;
$raw-drop-shadow-500-value-y: 6px;
$raw-drop-shadow-500-value-blur: 20px;
$raw-drop-shadow-500-value-spread: 0;
$raw-drop-shadow-500-value-color: #C0C0C0;
$raw-drop-shadow-focus-x-1: 0px;
$raw-drop-shadow-focus-y-1: 0px;
$raw-drop-shadow-focus-blur-1: 0px;
$raw-drop-shadow-focus-spread-1: 1px;
$raw-drop-shadow-focus-color-1: #FAFAFA;
$raw-drop-shadow-focus-x-2: 0px;
$raw-drop-shadow-focus-y-2: 0px;
$raw-drop-shadow-focus-blur-2: 0px;
$raw-drop-shadow-focus-spread-2: 3px;
$raw-drop-shadow-focus-color-2: #63B6FF;
$raw-drop-shadow-base-x: 4px;
$raw-drop-shadow-base-y: 4px;
$raw-drop-shadow-base-blur: 10px;
$raw-drop-shadow-base-spread: 0;
$raw-drop-shadow-base-color: #C0C0C0;
$raw-font-size-75: 10px;
$raw-font-size-100: 12px;
$raw-font-size-200: 16px;
$raw-font-size-300: 20px;
$raw-font-size-400: 24px;
$raw-font-size-500: 36px;
$raw-font-size-600: 48px;
$raw-font-size-700: 60px;
$raw-font-size-800: 72px;
$raw-font-size-900: 96px;
$raw-font-size-base: 16px;
$raw-font-weight-200: 200;
$raw-font-weight-400: 400;
$raw-font-weight-600: 600;
$raw-font-weight-800: 800;
$raw-font-weight-base: 400;
$raw-line-height-75: 14px;
$raw-line-height-100: 18px;
$raw-line-height-200: 22px;
$raw-line-height-300: 28px;
$raw-line-height-400: 34px;
$raw-line-height-500: 50px;
$raw-line-height-600: 68px;
$raw-line-height-700: 84px;
$raw-line-height-800: 102px;
$raw-line-height-900: 134px;
$raw-line-height-base: 22px;
$raw-spacing-10: 1px;
$raw-spacing-25: 2px;
$raw-spacing-50: 4px;
$raw-spacing-75: 6px;
$raw-spacing-100: 8px;
$raw-spacing-200: 10px;
$raw-spacing-280: 18px;
$raw-spacing-300: 20px;
$raw-spacing-400: 30px;
$raw-spacing-440: 34px;
$raw-spacing-500: 40px;
$raw-spacing-520: 44px;
$raw-spacing-570: 54px;
$raw-spacing-600: 60px;
$raw-spacing-700: 80px;
$raw-spacing-800: 100px;
$raw-spacing-850: 150px;
$raw-spacing-900: 200px;
$raw-web-z-index-1: 1;
$raw-web-z-index-100: 100;
$raw-web-z-index-200: 200;
$raw-web-z-index-300: 300;
$raw-web-z-index-400: 400;
$raw-web-z-index-500: 500;
$raw-web-z-index-600: 600;
$raw-web-z-index-700: 700;
$raw-web-z-index-800: 800;
$raw-web-z-index-900: 900;
$raw-web-z-index-base: 1;